section.terminal
	.terminal__wrap
		h2 Виберіть категорію
		.terminal__container
			.terminal__item
				.terminal__icon 
					img.terminal__img(src="img/icon-pen.png")
				.terminal__title Автотранспорт
			.terminal__item
				.terminal__icon
					img.terminal__img(src="img/icon-build.png")
				.terminal__title Будівництво, архітектура, землекористування
			.terminal__item
				.terminal__icon
					img.terminal__img(src="img/icon-bag.png")
				.terminal__title Громадянство
			.terminal__item
				.terminal__icon
					img.terminal__img(src="img/icon-bird.png")
				.terminal__title Захист прав дитини
			.terminal__item
				.terminal__icon
					img.terminal__img(src="img/icon-users.png")
				.terminal__title Реєстрація місця проживання/перебування
			.terminal__item
				.terminal__icon
					img.terminal__img(src="img/icon-graph.png")
				.terminal__title Підприємницька діяльність
			.terminal__item
				.terminal__icon
					img.terminal__img(src="img/icon-note.png")
				.terminal__title Санітарне та епідемічне благополуччя, ветеринарна медицина
			.terminal__item
				.terminal__icon
					img.terminal__img(src="img/icon-comm.png")
				.terminal__title Комунальне господарство





